.popup__form-input {
    outline: none;
    background-color: #ffffff;
    border: 0;
    border-bottom: 1px solid rgba(0,0,0,.2);
    font-style: normal;
    font-weight: 400;
    font-size: 14px;
    line-height: 17px;
    padding-bottom: 13px;
    margin: 0 auto 30px;
    height: 27px;
    box-sizing: border-box;
    width: 100%;
    color: #000000;
}

.popup__form-input:last-of-type {
    margin-bottom: 48px;
}


@media screen and (max-width: 1024px) { 
    .popup__form-input:last-of-type {
        margin-bottom: 45px;
    }
}