.profile__title-wrapper {
    display: flex;
    justify-content: space-between;
    align-items: flex-end;
    margin-bottom: 16px;
}

@media screen and (max-width: 1024px) {
    
    .profile__title-wrapper {
        margin-bottom: 14;
    }
}
