.profile {
    min-height: 120px;
    margin-top: 40px;
    display: flex;
    align-items: center;
    justify-content: space-between;
    margin: 40px 200px 0;
}
@media screen and (max-width: 1024px) {
    
    .profile {
        margin: 40px 19px;
        flex-direction: column;
    }
}