.popup__close {
    position: absolute;
    background-image: url(../../../images/Cross.svg);
    background-repeat: no-repeat;
    background-color: transparent;
    background-position: center;
    min-width: 32px;
    min-height: 32px;
    transition: 0.3s ease-in-out;
    border: 0;
    right: -40px;
    top: -40px;
    padding: 0;
    background-size: contain;
}

.popup__close:hover {
    opacity: 0.5;
    cursor: pointer;
}

@media screen and (max-width: 767px) {
    .popup__close {
        right: 0;
        top: 60px;
        min-width: 20px;
        min-height: 20px;

    }
}